{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') -%}
    {% extends 'themes/' + theme() + '/base.html' -%}
{% else -%}
    {% extends "base.html" -%}
{% endif -%} -%}
{% from 'bootstrap/form.html' import render_form -%}

{% block app_content -%}
    <div class="row">
        <div class="col col-login mx-auto">
            <div class="card mt-5">
                <div class="card-body p-6">
                    <div class="card-title text-center mb-4">{{ _('Content filter setup') }}</div>
                    {{ render_form(form) }}
                    <p class="mt-4">{{ _('You will be able to change this later.') }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock -%}
