<div class="btn-group mt-3 mb-2 flex-wrap">
{% if community.is_owner() or current_user.is_admin() %}
    <a href="{{ url_for('community.community_edit', community_id=community.id) }}" class="btn {{ 'btn-primary' if current == '' or current == 'edit_settings' else 'btn-outline-secondary' }}" rel="nofollow noindex">
        {{ _('Settings') }}
    </a>
{% endif %}
    <a href="{{ url_for('community.community_moderate', actor=community.link()) }}" aria-label="{{ _('Sort by hot') }}" class="btn {{ 'btn-primary' if current == '' or current == 'reports' else 'btn-outline-secondary' }}" rel="nofollow noindex">
        {{ _('Reports') }}
    </a>
    <a href="{{ url_for('community.community_mod_list', community_id=community.id) }}" class="btn {{ 'btn-primary' if current == 'moderators' else 'btn-outline-secondary' }}" rel="nofollow noindex">
        {{ _('Moderators') }}
    </a>
    <a href="{{ url_for('community.community_moderate_subscribers', actor=community.link()) }}" class="btn {{ 'btn-primary' if current == 'subscribers' else 'btn-outline-secondary' }}" rel="nofollow noindex">
        {{ _('Subscribers') }}
    </a>
    <a href="{{ url_for('community.community_wiki_list', actor=community.link()) }}" class="btn {{ 'btn-primary' if current == 'wiki' else 'btn-outline-secondary' }}" rel="nofollow noindex">
        {{ _('Wiki') }}
    </a>
    <a href="/community/{{ community.link() }}/moderate/appeals" class="btn {{ 'btn-primary' if current == 'appeals' else 'btn-outline-secondary' }} disabled" rel="nofollow noindex" >
        {{ _('Appeals') }}
    </a>
    <a href="{{ url_for('community.community_modlog', actor=community.link()) }}" class="btn {{ 'btn-primary' if current == 'modlog' else 'btn-outline-secondary' }} " rel="nofollow noindex" >
        {{ _('Mod log') }}
    </a>
</div>