{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') %}
    {% extends 'themes/' + theme() + '/base.html' %}
{% else %}
    {% extends "base.html" %}
{% endif %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
    <div class="row">
        <div class="col col-login mx-auto">
            <div class="card mt-5">
                <div class="card-body p-6">
                    <div class="card-title">{{ _('Delete "%(community_title)s"', community_title=community.title) }}</div>
                    <div class="card-body">
                        <p class="card-text"> Are you sure you want to delete this community? This is irreversible and will delete all posts and comments associated with it.</p>
                        {{ render_form(form) }}
                        <a class="btn btn-primary mt-2" href="/c/{{ community.link() }}">Go back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}