{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') %}
    {% extends 'themes/' + theme() + '/base.html' %}
{% else %}
    {% extends "base.html" %}
{% endif %}
{% from 'bootstrap/form.html' import render_field %}

{% block app_content %}
<div class="row">
    <main class="col-12 col-md-8 position-relative main_pane">
        <nav aria-label="breadcrumb" id="breadcrumb_nav" title="Navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{{ _('Home') }}</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('activitypub.community_profile', actor=community.ap_id if community.ap_id is not none else community.name) }}">{{ (community.title + '@' + community.ap_domain)|shorten }}</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('community.community_edit', community_id=community.id) }}">{{ _('Settings') }}</a></li>
            <li class="breadcrumb-item active">{{ _('Wiki') }}</li>
          </ol>
        </nav>
        {% include "community/_community_moderation_nav.html" %}
        <div class="row">
            <div class="col-12 col-md-10">
                <h1 class="mt-2">{{ _('Wiki pages for %(community)s', community=community.display_name()) }}</h1>
            </div>
            <div class="col-12 text-right">
                <a class="btn btn-primary" href="{{ url_for('community.community_wiki_add', actor=community.link()) }}">{{ _('Add wiki page') }}</a>
            </div>
        </div>
        {% if pages -%}
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>{{ _('Name') }}</th>
                    <th>{{ _('Url') }}</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {% for page in pages %}
                    <tr>
                        <td>{{ page.title }}</td>
                        <td><a href="{{ url_for('community.community_wiki_view', actor=community.link(), slug=page.slug) }}">{{ page.slug }}</a></td>
                        <td class="text-right">{% if page.can_edit(current_user, community) %}
                            <div class="dropdown">
                              <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Actions
                              </button>
                              <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="{{ url_for('community.community_wiki_view', actor=community.link(), slug=page.slug) }}">{{ _('View page') }}</a></li>
                                  <li><a class="dropdown-item" href="{{ url_for('community.community_wiki_revisions', actor=community.link(), page_id=page.id) }}">{{ _('View revisions') }}</a></li>
                                <li><a class="dropdown-item"
                                       href="{{ url_for('community.community_wiki_edit', actor=community.link(), page_id=page.id, return='list') }}">
                                    {{ _('Edit') }}</a></li>
                                <li><a class="confirm_first dropdown-item"
                                       href="{{ url_for('community.community_wiki_delete', actor=community.link(), page_id=page.id) }}">
                                    {{ _('Delete') }}</a></li>
                              </ul>
                            </div>
                            {% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>{{ _('Add a link to the wiki in the community description.') }}</p>
        {% else -%}
            <p>{{ _('There are no wiki pages in this community.') }}</p>
        {% endif -%}
    </main>
</div>
{% endblock %}