{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') %}
    {% extends 'themes/' + theme() + '/base.html' %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block app_content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ _('Sorry, access is denied') }}</h3>
                </div>
                <div class="card-body">
                    <p>{{ _('You cannot access this area.') }}</p>
                    <p><a href="#" class="go_back">{{ _('Back') }}</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
