{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') %}
    {% extends 'themes/' + theme() + '/base.html' %}
{% else %}
    {% extends "base.html" %}
{% endif %}
{% from 'bootstrap/form.html' import render_form %}
{% set active_child = 'chats' %}

{% block app_content %}
<div class="row">
        <div class="col col-login mx-auto">
            <div class="card mt-5">
                <div class="card-body p-6">
                    <div class="card-title">{{ _('Sorry') }}</div>
                    <div class="card-body">
                        <p>{{ _('You have not been using PieFed long enough to be allowed to send messages to people.') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}