<nav aria-label="breadcrumb" id="breadcrumb_nav" title="Navigation">
  <ol class="breadcrumb">
    {% for breadcrumb in breadcrumbs -%}
      <li class="breadcrumb-item">{% if breadcrumb.url -%}<a href="{{ breadcrumb.url }}">{% endif -%}{{ breadcrumb.text }}{% if breadcrumb.url -%}</a>{% endif -%}</li>
    {% endfor -%}
    <li class="breadcrumb-item"><a href="/c/{{ post.community.link() }}" title="{{ post.community.ap_domain }}">{{ post.community.title }}@{{ post.community.ap_domain }}</a></li>
  </ol>
</nav>
