{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') %}
    {% extends 'themes/' + theme() + '/base.html' %}
{% else %}
    {% extends "base.html" %}
{% endif %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
<div class="row">
    <main class="col-12 col-md-8 position-relative main_pane">
        {% include 'post/_post_full.html' %}
        <p><a href="{{ url_for('activitypub.post_ap', post_id=post.id, _anchor='replies') }}">Back to main discussion</a></p>
        <div class="row post_replies">
            <div class="col">
                <div id="replies" class="comments" role="tree">
                    {% for reply in replies %}
                      {% with post_reply=reply['comment'], children=reply['replies'] %}
                          {% include 'post/_post_reply_teaser.html' %}
                      {% endwith %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

    {% with community = post.community -%}
        {% include "_side_pane.html" %}
    {% endwith -%}
</div>

{% endblock %}
