{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') %}
    {% extends 'themes/' + theme() + '/base.html' %}
{% else %}
    {% extends "base.html" %}
{% endif %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
<script src="/static/js/coolfieldset.js?v=3"></script>
<div class="row">
    <main class="col-12 col-md-8 position-relative add_reply main_pane">
        <fieldset id="post_reply_op" class="coolfieldset  {{ 'collapsed' if request.cookies.get('fieldset_post_reply_op_state', 'collapsed') == 'collapsed' }} mt-3"><legend class="w-auto">Original post</legend>
            <h3>{{ post.title }}</h3>
            {{ post.body_html|safe if post.body_html }}
        </fieldset>
        {% if comment %}
            <fieldset id="post_reply_comment" class="coolfieldset {{ 'collapsed' if request.cookies.get('fieldset_post_reply_comment_state', 'collapsed') == 'collapsed' }} mt-4 mb-4"><legend class="w-auto">Comment you are replying to</legend>
                {{ comment.body_html|safe }}
            </fieldset>
        {% endif %}
        <div class="position-relative">
            {{ render_form(form) }}
            {% if markdown_editor %}
                <script nonce="{{ session['nonce'] }}">
                    window.addEventListener("load", function () {
                        var downarea = new DownArea({
                            elem: document.querySelector('#body'),
                            resize: DownArea.RESIZE_VERTICAL,
                            hide: ['heading', 'bold-italic'],
                            value: document.getElementById("body").value
                        });
                        setupAutoResize('body');
                    });
                </script>
            {% endif %}
        </div>
    </main>
    {% with community = post.community -%}
        {% include "_side_pane.html" %}
    {% endwith -%}
</div>

{% endblock %}
