{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') -%}
    {% extends 'themes/' + theme() + '/base.html' -%}
{% else -%}
    {% extends "base.html" -%}
{% endif -%} -%}
{% from 'bootstrap/form.html' import render_form -%}

{% block app_content -%}
    <div class="row">
        <h3>{{ _('Voting Activity for "%(reply_text)s"', reply_text=reply_text) }}</h3>
            <p><details open>
                <summary>Upvoters</summary>
                <ul>
                    {% for upvoter in upvoters -%}
                        <li>{{ render_username(upvoter) }}</li>
                    {% endfor -%}
                </ul>
            </details>
            </p><p><hr></p>
            <details open>
                <summary>Downvoters</summary>
                <ul>
                    {% for downvoter in downvoters -%}
                        <li>{{ render_username(downvoter) }}</li>
                    {% endfor -%}
                </ul>
            </details>
    </div>
{% endblock -%}
