<div class="row mb-4">
    <div class="col-auto">
        <div class="btn-group">
            <a href="/user/settings" class="btn {{ 'btn-primary' if request.path == '/user/settings' else 'btn-outline-secondary' }}">
                {{ _('Settings') }}
            </a>
            <a href="/u/{{ current_user.link() }}/profile" class="btn {{ 'btn-primary' if request.path.endswith('/profile') else 'btn-outline-secondary' }}">
                {{ _('Profile') }}
            </a>
            <a href="/user/settings/filters" class="btn {{ 'btn-primary' if request.path == '/user/settings/filters' else 'btn-outline-secondary' }}">
                {{ _('Blocks & Filters') }}
            </a>
            <a href="/user/settings/import_export" class="btn {{ 'btn-primary' if request.path == '/user/settings/import_export' else 'btn-outline-secondary' }}">
                {{ _('Import & Export') }}
            </a>
        </div>
    </div>
</div>