{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') %}
    {% extends 'themes/' + theme() + '/base.html' %}
{% else %}
    {% extends "base.html" %}
{% endif %}
{% from 'bootstrap/form.html' import render_field %}
{% set active_child = 'filters' %}

{% block app_content %}
<div class="row">
    <main class="col-12 col-md-8 position-relative main_pane">
        <nav aria-label="breadcrumb" id="breadcrumb_nav" title="Navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{{ _('Home') }}</a></li>
            <li class="breadcrumb-item"><a href="/u/{{ user.link() }}">{{ user.display_name() }}</a></li>
            <li class="breadcrumb-item"><a href="/user/settings/filters">{{ _('Filters') }}</a></li>
            {% if content_filter %}
                <li class="breadcrumb-item active">{{ _('Edit filter') }}</li>
            {% else %}
                <li class="breadcrumb-item active">{{ _('Add filter') }}</li>
            {% endif %}
          </ol>
        </nav>
        {% if content_filter %}
            <h1 class="mt-2">{{ _('Filter %(name)s', name=content_filter.title) }}</h1>
        {% else %}
            <h1 class="mt-2">{{ _('Add filter') }}</h1>
        {% endif %}
        {% include "user/_user_nav.html" %}
        <form method='post' role="form">
            {{ form.csrf_token() }}
            {{ render_field(form.title) }}
            <h4>{{ _('Filter in these places') }}</h4>
            {{ render_field(form.filter_home) }}
            {{ render_field(form.filter_posts) }}
            {{ render_field(form.filter_replies) }}
            {{ render_field(form.hide_type) }}
            {{ render_field(form.keywords) }}
            <small class="field_hint">{{ _('One per line. Case does not matter.') }}</small>
            {{ render_field(form.expire_after) }}
            <small class="field_hint">{{ _('Stop applying this filter after this date. Optional.') }}</small>
            {{ render_field(form.submit) }}
        </form>
    </main>
</div>
{% endblock %}