{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') %}
    {% extends 'themes/' + theme() + '/base.html' %}
{% else %}
    {% extends "base.html" %}
{% endif %}
{% set active_child = 'read_posts' %}

{% block app_content %}
<div class="row">
    <main class="col-12 col-md-8 position-relative main_pane">
        <nav class="mb-2" aria-label="breadcrumb" id="breadcrumb_nav" title="Navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{{ _('Home') }}</a></li>
            <li class="breadcrumb-item"><a href="/u/{{ user.link() }}">{{ user.display_name() }}</a></li>
            <li class="breadcrumb-item active">{{ _('Read posts') }}</li>
          </ol>
        </nav>
        <h1>{{ _('Read posts') }}</h1>
        {% include "user/_read_posts_nav.html" -%}
        {% if posts %}
            <div class="post_list">
                {% for post in posts.items -%}
                    {% include 'post/_post_teaser.html' %}
                {% endfor -%}
            </div>
        {% else %}
            <p>{{ _('No posts yet.') }}</p>
        {% endif -%}

        <nav aria-label="Pagination" class="mt-4" role="navigation">
                {% if prev_url %}
                    <a href="{{ prev_url }}" class="btn btn-primary" rel="nofollow">
                        <span aria-hidden="true">&larr;</span> {{ _('Previous page') }}
                    </a>
                {% endif %}
                {% if next_url %}
                    <a href="{{ next_url }}" class="btn btn-primary" rel="nofollow">
                        {{ _('Next page') }} <span aria-hidden="true">&rarr;</span>
                    </a>
                {% endif %}
        </nav>
    </main>
    <aside id="side_pane" class="col-12 col-md-4 side_pane" role="complementary">
        {% if current_user.is_authenticated and current_user.id == user.id %}
            <div class="card mb-3">
                <div class="card-header">
                     <h2>{{ _('Manage') }}</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <a href="{{ url_for('user.user_read_posts_delete') }}" class="btn btn-primary" style="float: right;">{{ _('Delete history') }}</a>
                        </div>
                        <div class="col-6">

                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </aside>
</div>
{% endblock %}
