{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') %}
    {% extends 'themes/' + theme() + '/base.html' %}
{% else %}
    {% extends "base.html" %}
{% endif %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
<div class="row">
    <main class="col-12 col-md-8 position-relative main_pane">
        <nav aria-label="breadcrumb" id="breadcrumb_nav" title="Navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{{ _('Home') }}</a></li>
            <li class="breadcrumb-item"><a href="/instances">{{ _('Instances') }}</a></li>
            <li class="breadcrumb-item"><a href="/instance/{{ instance.domain }}">{{ instance.domain }}</a></li>
            <li class="breadcrumb-item active">{{ _('People') }}</li>
          </ol>
        </nav>
        <h1 class="mt-2">{{ _('People from %(instance)s', instance=instance.domain) }}</h1>
        {% if people %}
            <table class="table table-striped">
                <tr>
                    <th>{{ _('Name') }}</th>
                    <th>{{ _('About') }}</th>
                    <th>{{ _('Posts') }}</th>
                    <th>{{ _('Comments') }}</th>
                </tr>
                {% for person in people.items %}
                    <tr>
                        <td valign="top">{{ render_username(person) }}</td>
                        <td class="profile_bio">{{ person.about_html | safe if person.about_html }}</td>
                        <td valign="top">{{ person.post_count }}</td>
                        <td valign="top">{{ person.post_reply_count }}</td>
                    </tr>
                {% endfor %}
            </table>
            <nav aria-label="Pagination" class="mt-4" role="navigation">
                {% if prev_url -%}
                    <a href="{{ prev_url }}" class="btn btn-primary" rel='nofollow'>
                        <span aria-hidden="true">&larr;</span> {{ _('Previous page') }}
                    </a>
                {% endif -%}
                {% if next_url -%}
                    <a href="{{ next_url }}" class="btn btn-primary" rel='nofollow'>
                        {{ _('Next page') }} <span aria-hidden="true">&rarr;</span>
                    </a>
                {% endif -%}
            </nav>
        {% else %}
            <p>{{ _('No people to show') }}</p>
        {% endif %}
    </main>

    <aside id="side_pane" class="col-12 col-md-4 side_pane" role="complementary">

        <div class="card">
            <div class="card-header">
                 <h2> </h2>
            </div>
            <div class="card-body">

            </div>
        </div>
    </aside>
</div>
{% endblock %}
