{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') -%}
    {% extends 'themes/' + theme() + '/base.html' -%}
{% else -%}
    {% extends "base.html" -%}
{% endif -%} -%}
{% from 'bootstrap/form.html' import render_form -%}

{% block app_content -%}
<div class="row">
    <main class="col-12 col-md-8 position-relative main_pane">
        <nav aria-label="breadcrumb" id="breadcrumb_nav" title="Navigation">
          <ol class="breadcrumb">
            {% for breadcrumb in breadcrumbs -%}
              <li class="breadcrumb-item">{% if breadcrumb.url -%}<a href="{{ breadcrumb.url }}">{% endif -%}{{ breadcrumb.text }}{% if breadcrumb.url -%}</a>{% endif -%}</li>
            {% endfor -%}
            <li class="breadcrumb-item active">{{ _('Posts') }}</li>
          </ol>
        </nav>
        <h1 class="mt-2">{{ _("Posts from %(instance)s", instance=instance.domain) }}</h1>

        <div class="post_list">
            {% for post in posts.items -%}
                {% include 'post/_post_teaser.html' -%}
            {% else -%}
                <p>{{ _('No posts from this instance yet.') }}</p>
            {% endfor -%}
        </div>

        <nav aria-label="Pagination" class="mt-4" role="navigation">
                {% if prev_url -%}
                    <a href="{{ prev_url }}" class="btn btn-primary" rel='nofollow'>
                        <span aria-hidden="true">&larr;</span> {{ _('Previous page') }}
                    </a>
                {% endif -%}
                {% if next_url -%}
                    <a href="{{ next_url }}" class="btn btn-primary" rel='nofollow'>
                        {{ _('Next page') }} <span aria-hidden="true">&rarr;</span>
                    </a>
                {% endif -%}
        </nav>
    </main>

    {% include "_side_pane.html" %}
</div>
<div class="row">


</div>
{% endblock -%}
