/* shadow for the button groups */
.btn-group {
    /* rounded corners */
    border-radius: 6px;
    /* shadow horizontal-offset vertical-offset blur spread color */
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* setting the color for the "selected" button border */
.btn-primary {
    /* border */
    border: solid 1px rgb(0,123,255,0.2);
    box-shadow: 0 4px 7px 0 rgba(0,0,0,0.3);
}

.form-control {
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
}

/* setting the "unselected" button border */
.btn-outline-secondary {
    /* border */
    border: solid 1px rgb(0,123,255,0.2);
}

/* shadow for the navbar  */
.navbar {
    /* shadow horizontal-offset vertical-offset blur spread color */
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
}

/* this is used in the big list of posts to browse  */
.post_list .post_teaser {
    /* outside space  top right bottom left */
    margin: 10px 2px 2px 2px;
    /* inside space  top right bottom left */
    padding: 5px 5px 5px 5px;
    /* border */
    border-top: solid 1px rgb(0,123,255,0.2);
    border-right: solid 1px rgba(0,123,255,0.2);
    border-bottom: solid 1px rgba(0,123,255,0.2);
    border-left: solid 1px rgba(0,123,255,0.2);
    /* rounded corners */
    border-radius: 5px;
    /* shadow horizontal-offset vertical-offset blur spread color */
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.15);
    transition: 0.3s;
}

.post_list .post_teaser h3 {
    margin-top: 0;
}

/* "Active Communities", "About PieFed", and "Rational Discourse Kit" use this */
.side_pane .card {
    /* border */
    /* border-top: solid 1px rgb(0,123,255,0.2); */
    border-right: solid 1px rgba(0,123,255,0.2);
    border-bottom: solid 1px rgba(0,123,255,0.2);
    border-left: solid 1px rgba(0,123,255,0.2);
    /* rounded corners */
    border-radius: 5px;
    /* shadow horizontal-offset vertical-offset blur spread color */
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* this adds some pixels to the bottom of the main pane */
/* this is really only needed so the side_pane "Active Communities" */
/* box has a buffer and does not collide with the main_pane  */
/* holding the list of posts */
.main_pane {
    /* outside space  top right bottom left */
    margin: 0 0 15px 0;
}

/* post edit options card */
.col-login .card .card-body {
    /* border */
    /* border-top: solid 1px rgb(0,123,255,0.2); */
    border-right: solid 1px rgba(0,123,255,0.2);
    border-bottom: solid 1px rgba(0,123,255,0.2);
    border-left: solid 1px rgba(0,123,255,0.2);
    /* rounded corners */
    border-radius: 5px;
    /* shadow horizontal-offset vertical-offset blur spread color */
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.voting_buttons > div {
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
}