<p><a href="https://piefed.social/"><img src="https://piefed.social/static/images/piefed_logo_icon_t_75.png" style="max-width: 100%; margin-bottom: 20px;" width="50" height="50" alt="PieFed logo" /></a></p>
<p>Hi {{ user.display_name() }},</p>
<p>
    To reset your password
    <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">
        click here
    </a>.
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.reset_password', token=token, _external=True) }}</p>
<p>If you have not requested a password reset simply ignore this message.</p>
<p>Sincerely,</p>
<p>The PieFed Team</p>
