<p><a href="https://piefed.social/"><img src="https://piefed.social/static/images/piefed_logo_icon_t_75.png" style="max-width: 100%; margin-bottom: 20px;" width="50" height="50" alt="PieFed logo" /></a></p>
<p>Hey there and welcome aboard!</p>
<p>I'm Rimu, the founder of PieFed, and I'm super grateful for your sign-up.</p>
<p>As PieFed is still in an early development phase, your thoughts and ideas mean the world to me. You might stumble upon a
    few hiccups or notice some missing bits here and there — that's totally expected. Just hit reply to this email and
    let me know what's up. Screenshots, if you've got 'em, will be very helpful!</p>
<p>If you are technically-minded, reporting issues on the <a href="https://codeberg.org/rimu/pyfedi/issues">Codeberg
    issue tracker</a> would be awesome. And hey, if Python's
    your jam and you're keen to pitch in, <a href="https://join.piefed.social/">check out the project site</a> or
    delve into <a href="https://codeberg.org/rimu/pyfedi/">the code repository</a> for more info.</p>
<p>PieFed is free to use and entirely self-funded so <a class="nav-link" href="https://piefed.social/donate">donations are much
    appreciated</a>.</p>
<p>Warm regards,</p>
<p>Rimu Atkinson<br />
Founder</p>
<p>&nbsp;</p>
<p><small><a href="{{ url_for('user.user_newsletter_unsubscribe', user_id=user.id, token=user.verification_token, _external=True) }}">Unsubscribe from PieFed newsletter</a></small></p>
