{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}
{% set active_child = 'admin_newsletter' %}

{% block app_content %}
{% include 'admin/_tabbed_nav.html' %}
<br>

<div class="row">
    <div class="col">
        <h1>{{ _('Newsletter') }}</h1>
        {{ render_form(form) }}
    </div>
</div>
<hr />
<div class="row">
    <div class="col">
        {% include 'admin/_nav.html' %}
    </div>
</div>
<hr />
{% endblock %}