<div class="col post_teaser_body">
    {% include "post/post_teaser/_title.html" %}
    {% if post.image_id and not low_bandwidth -%}
        <div class="post_teaser_image_preview">
            <a href="{{ post.image.view_url() }}" rel="nofollow ugc" aria-label="{{ _('View image') }}" target="_blank"><img src="{{ post.image.medium_url() }}"
                    alt="{{ post.image.alt_text if post.image.alt_text else '' }}" loading="lazy" class="{{ ' blur' if blur_content }}" width="{{ post.image.width }}" height="{{ post.image.height }}" /></a>
        </div>
    {% endif -%}
    {% if post.body_html -%}
        <div class="post_teaser_link_preview small post_teaser_clickable" lang="{{ post.language_code() }}">
            {{ first_paragraph(post.body_html) | safe }}
        </div>
    {% endif -%}
    {% include "post/post_teaser/_utilities_bar.html" %}
</div>
