<h3 lang="{{ post.language_code() }}">{% if post.sticky -%}<span class="fe fe-sticky-left"></span>{% endif -%}<a href="{{ url_for('activitypub.post_ap', post_id=post.id, sort='new' if sort == 'active' else None) }}" class="post_teaser_title_a" {% if not post.indexable %}rel="noindex"{% endif %} >{{ post.title }}</a>
    {% if post.type == POST_TYPE_IMAGE -%}
        <span class="fe fe-image" aria-hidden="true"> </span>
    {% endif -%}
    {% if post.domain_id and post.url -%}
        {% if post.url.endswith('.mp3') -%}
            <span class="fe fe-audio" aria-hidden="true"></span>
        {% endif -%}
        {% if post.type == POST_TYPE_VIDEO -%}
                <span class="fe fe-video" aria-hidden="true"></span>
        {% endif -%}
        {% if post.type == POST_TYPE_LINK -%}
            <span class="domain_link" aria-hidden="true">(<a href="/d/{{ post.domain_id }}" aria-label="{{ _('All posts about this domain') }}">{{ post.domain.name }}</a>)
            {% if post.domain.post_warning -%}
                    <span class="fe fe-warning red" title="{{ post.domain.post_warning }}"></span>
            {% endif -%}
            </span>
        {% endif -%}
    {% endif -%}
    {% if post.nsfw -%}<span class="warning_badge nsfw" title="{{ _('Not safe for work') }}">nsfw</span>{% endif -%}
    {% if post.nsfl -%}<span class="warning_badge nsfl" title="{{ _('Potentially emotionally scarring content') }}">nsfl</span>{% endif -%}
    {% if post.reports > 0 and current_user.is_authenticated and post.community.is_moderator(current_user) -%}
        <span class="red fe fe-report" title="{{ _('Reported. Check post for issues.') }}"></span>
    {% endif -%}
    {% if post.sticky -%}<span class="fe fe-sticky-right"></span>{% endif -%}
    {% if post.deleted -%}<span class="red fe fe-delete" title="{{ _('Post deleted') }}"></span>{% endif -%}
</h3>
<div class="author small">{% if show_post_community -%}<a href="/c/{{ post.community.link() }}" aria-label="{{ _('Go to community %(name)s', name=post.community.name) }}">
    {% if post.community.icon_id and not low_bandwidth %}<img class="community_icon_small rounded-circle" src="{{ post.community.icon_image('tiny') }}" alt="Community icon" />{% endif -%}
    c/{{ post.community.name }}</a>{% endif -%}
    by {{ render_username(post.author, htmx_redirect_back_to=request.path + '#post_' + str(post.id)) }} <time datetime="{{ post.last_active }}" title="{{ post.last_active }}">{{ post.posted_at_localized(sort, locale) }}</time></div>
