@mixin breakpoint($point) {
  @if $point == bigbig {
    @media (min-width: 2000px) { @content ; }
  }
  @else if $point == desktop {
     @media (min-width: 1600px) { @content ; }
  }
  @else if $point == laptop {
     @media (min-width: 1280px) { @content ; }
  }
  @else if $point == tablet {
     @media (min-width: 992px) { @content ; }
  }
  @else if $point == phablet {
     @media (min-width: 768px)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 576px)  { @content ; }
  }
}

.pl-0 {
  padding-left: 0!important;
}

.pl-1 {
  padding-left: 5px!important;
}

.pl-2 {
  padding-left: 10px!important;
}

.pl-3 {
  padding-left: 15px!important;
}

.pl-4 {
  padding-left: 20px!important;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}