{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') %}
    {% extends 'themes/' + theme() + '/base.html' %}
{% else %}
    {% extends "base.html" %}
{% endif %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
<div class="row">
    <main class="col-12 col-md-8 position-relative main_pane">
        <nav aria-label="breadcrumb" id="breadcrumb_nav" title="Navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{{ _('Home') }}</a></li>
            <li class="breadcrumb-item"><a href="/tags">{{ _('Tags') }}</a></li>
            <li class="breadcrumb-item active">{{ tag.name|shorten }}</li>
          </ol>
        </nav>
        <h1 class="mt-2">{{ tag.name }}</h1>
        <div class="post_list">
            {% for post in posts.items %}
                {% include 'post/_post_teaser.html' %}
            {% else %}
                <p>{{ _('No posts in this tag yet.') }}</p>
            {% endfor %}
        </div>

        <nav aria-label="Pagination" class="mt-4" role="navigation">
                {% if prev_url %}
                    <a href="{{ prev_url }}" class="btn btn-primary" rel='nofollow'>
                        <span aria-hidden="true">&larr;</span> {{ _('Previous page') }}
                    </a>
                {% endif %}
                {% if next_url %}
                    <a href="{{ next_url }}" class="btn btn-primary" rel='nofollow'>
                        {{ _('Next page') }} <span aria-hidden="true">&rarr;</span>
                    </a>
                {% endif %}
        </nav>
    </main>

    <aside id="side_pane" class="col-12 col-md-4 side_pane" role="complementary">
        {% if current_user.is_authenticated %}
            <div class="card mt-3">
                <div class="card-header">
                     <h2>{{ _('Tag management') }}</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% if user_access('ban users', current_user.id) or user_access('manage users', current_user.id) %}
                            {% if tag.banned %}
                                <div class="col-8">
                                    <a class="w-100 btn btn-primary confirm_first" href="/tag/{{ tag.name }}/unban">{{ _('Unban') }}</a>
                                </div>
                            {% else %}
                                <div class="col-8">
                                    <a class="w-100 btn btn-primary confirm_first" href="/tag/{{ tag.name }}/ban">{{ _('Ban instance-wide') }}</a>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
            <div class="card mt-3">
                <div class="card-header">
                     <h2>{{ _('RSS') }}</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <p><a class="no-underline" href="{{ rss_feed }}" rel="nofollow"><span class="fe fe-rss"></span> </a><a href="{{ rss_feed }}" rel="nofollow">RSS feed</a></p>
                    </div>
                </div>
            </div>

        {% include "_inoculation_links.html" %}
    </aside>
</div>
<div class="row">


</div>
{% endblock %}
