{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') %}
    {% extends 'themes/' + theme() + '/base.html' %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block app_content %}
<div class="row">
    <main class="col-12 col-md-8 position-relative main_pane">
        <h1>{{ _('About %(site_name)s', site_name=g.site.name) }}</h1>
        <p> This site is a <a href="https://join.piefed.social/">PieFed</a> instance created on
            {{instance.created_at.strftime('%d-%m-%Y')}}. It is home to <a href="/people">{{user_amount}} users</a>
            (of which {{mau}} were active in the last month). In <a href="/communities/local"> {{community_amount}} communities</a>
            we discussed content from <a href="/domains">{{domains_amount}}</a> websites and made
            {{posts_amount}} posts.</p>
        <h2>{{ _('Team') }}</h2>
        <p>This instance is administered by {% for admin in admins %}<a href="/u/{{ admin.user_name }}">{{ admin.user_name }}</a>{{ ", " if not loop.last }}{% endfor %}.</p>
        {% if staff %}
        <p>It is moderated by {% for s in staff %}<a href="/u/{{ s.user_name }}">{{ s.user_name }}</a>{{ ", " if not loop.last }}{% endfor %}.</p>
        {% endif %}
        <h2>{{ _('Contact') }}</h2>
        <p>{{ g.site.contact_email | safe }}</p>
        <h2>{{ _('About Us') }} </h2>
        <p> {{ g.site.description | safe }} </p>
        {% if g.site.about %}
        <p> {{ g.site.about | safe }} </p>
        {% elif g.site.sidebar %}
        <p> {{ g.site.sidebar | safe }} </p>
        {% endif %}
        {% if g.site.legal_information %}
        <h2>{{ _('Legal Information') }} </h2>
        <p> {{ g.site.legal_information | safe }} </p>
        <p> <a href="/privacy">{{ _('Our Privacy Policy') }}</a> </p>
        {% endif %}
</main>
{% endblock %}
