{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') %}
    {% extends 'themes/' + theme() + '/base.html' %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block app_content %}
<div class="row">
    <main class="col-12 col-md-8 position-relative main_pane">
        <h1>{{ _('Donate') }}</h1>
        <p>PieFed is free and open-source software while operating without any advertising, monetization, or reliance on
            venture capital. Your contributions are vital in supporting the PieFed development effort,
            allowing us to expand and enhance PieFed with new features.</p>

        <div class="btn-group btn-group-lg" role="group" aria-label="Donation options">
          <a type="button" class="btn btn-outline-primary" href="https://www.patreon.com/PieFed">Donate using Patreon</a>
        </div>

    </main>

    <aside id="side_pane" class="col-12 col-md-4 side_pane" role="complementary">
        <div class="card mt-3">
            <div class="card-header">
                 <h2>{{ _('About %(site_name)s', site_name=g.site.name) }}</h2>
            </div>
            <div class="card-body">
                <p><strong>{{ g.site.description|safe }}</strong></p>
                <p>{{ g.site.sidebar|safe }}</p>
                <p class="mt-4">
                    <a class="no-underline" href="{{ rss_feed }}" rel="nofollow"><span class="fe fe-rss"></span> RSS feed</a>
                </p>
            </div>
        </div>
    </aside>
</div>
{% endblock %}
