{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') %}
    {% extends 'themes/' + theme() + '/base.html' %}
{% else %}
    {% extends "base.html" %}
{% endif %}
{% from 'bootstrap5/form.html' import render_form %}
{% set active_child = 'home' %}

{% block app_content %}
<div class="row">
    <main class="col-12 col-md-8 position-relative main_pane">
        {% if announcement -%}
            <div id="home_announcement">{{ announcement|safe }}</div>
        {% endif -%}
        {% include "_home_nav.html" %}
        {% include "_view_filter_nav.html" %}
        <div class="post_list h-feed">
            {% for post in posts %}
                {% include 'post/_post_teaser.html' %}
            {% else %}
                <p>{{ _('No posts yet. Join some communities to see more.') }}</p>
                <p><a class="btn btn-primary" href="/communities">{{ _('More communities') }}</a></p>
            {% endfor %}
        </div>

        <nav aria-label="Pagination" class="mt-4" role="navigation">
                {% if prev_url %}
                    <a href="{{ prev_url }}" class="btn btn-primary" rel="nofollow">
                        <span aria-hidden="true">&larr;</span> {{ _('Previous page') }}
                    </a>
                {% endif %}
                {% if next_url %}
                    <a href="{{ next_url }}" class="btn btn-primary" rel="nofollow">
                        {{ _('Next page') }} <span aria-hidden="true">&rarr;</span>
                    </a>
                {% endif %}
        </nav>
    </main>

    <aside id="side_pane" class="col-12 col-md-4 side_pane" role="complementary">
        <!-- <div class="card">
            <div class="card-body">
                <form method="get">
                    <input type="search" name="search" class="form-control mt-2" placeholder="{{ _('Search') }}" />
                </form>
            </div>
        </div> -->

        {% if new_communities and len(new_communities) > 0 -%}
        <div class="card mb-3">
            <div class="card-header">
                 <h2>{{ _('New communities') }}</h2>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for community in new_communities %}
                        <li class="list-group-item">
                            {{ render_communityname(community) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif -%}

        <div class="card">
            <div class="card-header">
                 <h2>{{ _('Active communities') }}</h2>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for community in active_communities %}
                        <li class="list-group-item">
                            {{ render_communityname(community) }}
                        </li>
                    {% endfor %}
                </ul>
                <p class="mt-4"><a class="btn btn-primary" href="/communities">{{ _('More communities') }}</a>
                    <a class="btn btn-primary" href="/topics">{{ _('Browse topics') }}</a>
                </p>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-header">
                 <h2>{{ _('About %(site_name)s', site_name=g.site.name) }}</h2>
            </div>
            <div class="card-body">
                <p><strong>{{ g.site.description|safe }}</strong></p>
                <p>{{ g.site.sidebar|safe }}</p>
                {% if rss_feed %}
                <p class="mt-4">
                    <a class="no-underline" href="{{ rss_feed }}" rel="nofollow"><span class="fe fe-rss"></span> RSS feed</a>
                </p>
                {% endif %}
            </div>
        </div>

        {% include "_inoculation_links.html" %}
    </aside>
</div>
{% endblock %}
