{% if theme() and file_exists('app/templates/themes/' + theme() + '/base.html') %}
    {% extends 'themes/' + theme() + '/base.html' %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block app_content %}
<div class="row">
    <main class="col-12 col-md-8 position-relative main_pane">
        <h1>{{ _('Privacy') }}</h1>
        
        <p>This privacy policy describes how piefed.social ("piefed.social", "we", "us") collects, protects and uses the
            personally identifiable information you may provide through the piefed.social website or its API. The policy
            also describes the choices available to you regarding our use of your personal information and how you can
            access and update this information. This policy does not apply to the practices of companies that piefed.social
            does not own or control, or to individuals that piefed.social does not employ or manage.</p>
        <h3>What information do we collect?</h3>
        <ul>
            <li>Basic account information: If you register on this server, you may be asked to enter a username, an e-mail address and a password.
                You may also enter additional profile information such as a display name and biography, and upload a profile picture and header
                image. The username, display name, biography, profile picture and header image are always listed publicly.</li>
            <li>Posts, following and other public information: The list of communities you join is listed publicly. When you submit
                a message, the date and time is stored. Messages may contain media attachments, such as pictures and videos.
                All posts are available publicly. Your posts are delivered to everyone in a community, in some cases it means
                they are delivered to different servers and copies are stored there. When you delete posts, this is likewise
                    delivered to the server hosting the community. The action of voting is public.</li>
            <li>IPs and other metadata: When you log in, we record the IP address you log in from, as well as the name of your
                browser application. All the logged in sessions are available for your review and revocation in the settings.
                The latest IP address used is stored for up to 12 months. We also may retain server logs which include the
                    IP address of every request to our server.</li>
        </ul>
        <h3>What do we use your information for?</h3>
        <p>Any of the information we collect from you may be used in the following ways:</p>
        <ul>
            <li>To provide the core functionality of PieFed. You can only interact with other people's content and post your
                own content when you are logged in. For example, you may follow other people to view their combined posts in
                your own personalized home timeline.</li>
            <li>To aid moderation of the community, for example comparing your IP address with other known ones to determine
                ban evasion or other violations.</li>
            <li>The email address you provide may be used to send you information, notifications about other people
                interacting with your content or sending you messages, and to respond to inquiries, and/or other requests or questions.</li>
        </ul>
        <h3>How do we protect your information?</h3>

        <p>We implement a variety of security measures to maintain the safety of your personal information when you enter,
            submit, or access your personal information. Among other things, your browser session is secured with SSL, and your
            password is hashed using a strong one-way algorithm.</p>
        <h3>What is our data retention policy?</h3>

        <p>We will make a good faith effort to:</p>
    <ul>
        <li>Retain server logs containing the IP address of all requests to this server, in so far as such logs are kept, no more than 90 days.</li>
        <li>Retain the IP addresses associated with registered users no more than 12 months.</li>
    </ul>
        <p>You may irreversibly delete your account at any time.</p>
    <h3>Do we use cookies?</h3>

    <p>Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your
        web browser (if you allow). These cookies enable the site to recognize your browser and, if you have a registered
        account, associate it with your registered account.</p>
    <p>We use cookies to understand and save your preferences for future visits.</p>

    <h3>Do we disclose any information to outside parties?</h3>

    <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our site, conducting our business, or servicing you, so long as those parties agree to keep this information confidential.
        We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights,
        property, or safety.</p>
        <p>Your public content may be downloaded by other servers in the network. Your posts are delivered to the servers
            where members of the same communities reside, in so far as those followers or recipients reside on a different server than this.</p>

    <h3>Site usage by children</h3>

    <p>Our site, products and services are all directed to people who are at least 16 years old. If you are under the age
        of 16, per the requirements of the GDPR (General Data Protection Regulation) do not use this site.</p>

    </main>

    <aside id="side_pane" class="col-12 col-md-4 side_pane" role="complementary">

    </aside>
</div>
{% endblock %}
